{% extends "tethys_apps/app_base.html" %}

{% load staticfiles %}

{% block title %}{{ tethys_app.name }}{% endblock %}

{% block header_buttons %}
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
    <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
  </div>
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Info">
    <a data-toggle="modal" data-target="#info-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
  </div>

{% endblock %}


{% block app_icon %}
  {# The path you provided in your app.py is accessible through the tethys_app.icon context variable #}
  <img src="{% static tethys_app.icon %}">
{% endblock %}

{# The name you provided in your app.py is accessible through the tethys_app.name context variable #}
{% block app_title %}{{ tethys_app.name }}{% endblock %}


{% block app_navigation_items %}
  {% url 'threetoedsloth_snowmeltcalculator:home' as home_url %}
  {% url 'threetoedsloth_snowmeltcalculator:proposal' as proposal_url %}
  {% url 'threetoedsloth_snowmeltcalculator:mockup' as mockup_url %}
  {% url 'threetoedsloth_snowmeltcalculator:map' as map_url %}

  <li class="title">App Navigation</li>
  <li class="{% if request.path == home_url %}active{% endif %}"><a href="{{ home_url }}">Home</a></li>
  <li class="{% if request.path == proposal_url %}active{% endif %}"><a href="{{ proposal_url }}">Proposal</a></li>
  <li class="{% if request.path == mockup_url %}active{% endif %}"><a href="{{ mockup_url }}">Mockup</a></li>
  <li class="{% if request.path == map_url %}active{% endif %}"><a href="{{ map_url }}">Map</a></li>

  {# Buttons for Map Page #}
  {% if request.path == map_url %}
    <br>
    <button id="delineate" type="button" class="btn btn-dark center-block" style="background-color:#123448; color:#FFFFFF">Delineate & Calculate</button>

  {% endif %}

  <div id="loadingstuff"></div>
  <br>
  <div id="resultsHeader" ><h4></h4></div>
  <div id="resultsArea"></div>
  <div id="resultsDepth"></div>
  <div id="resultsVol"></div>



{% endblock %}

{% block app_content %}

{% endblock %}

{% block app_actions %}
{% endblock %}

{% block content_dependent_styles %}
  {{ block.super }}
  <link href="{% static 'threetoedsloth_snowmeltcalculator/css/main.css' %}" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'threetoedsloth_snowmeltcalculator/js/main.js' %}" type="text/javascript"></script>
{% endblock %}

{# Use the after_app_content block for modals #}
{% block after_app_content %}
  <div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="help-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h5 class="modal-title" id="help-modal-label">Help</h5>
        </div>
        <div class="modal-body">
          <p>
          The purpose of this app is to delineate a watershed based on user selection in the given area and return watershed area, average snow depth and total snowmelt volume. Data calculations are based on snowmelt data from 2018.
          </p>
          <p>
          App Instructions:
          </p>
          <p>
          1.) First click somewhere within the green boundary. A blue circle will appear to indicate your selection point. Once satisfied with your selection click the Delineate & Calculate button to the right of the map.
          </p>
          <img src="https://raw.githubusercontent.com/ANFz/ANFz.github.io/master/snip1.jpg">
          <p>
          *Note: if the app navigation panel is not visible click the triple line icon in the top right.
          </p>
          <p>
          2.) After a short delay the watershed will be delineated by the app and displayed on the map by a light blue polygon. Data results will be displayed under the Delineate & Calculate Button.
          </p>
          <img src="https://raw.githubusercontent.com/ANFz/ANFz.github.io/master/snip4.JPG">
          <p>
          *Note: if the app delineates a watershed too small it cannot calculate the data and a different location will need to be selected.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="info-modal" tabindex="-1" role="dialog" aria-labelledby="help-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h5 class="modal-title" id="info-modal-label">Info</h5>
        </div>
        <div class="modal-body">
          <p>
          The purpose of this app is to delineate a watershed based on user selection in the given area and return watershed area, average snow depth and total snowmelt volume. Data calculations are based on snowmelt data from 2018.
          </p>
          <p>
          App Instructions:
          </p>
          <p>
          1.) First click somewhere within the green boundary. A blue circle will appear to indicate your selection point. Once satisfied with your selection click the Delineate & Calculate button to the right of the map.
          </p>
          <img src="https://raw.githubusercontent.com/ANFz/ANFz.github.io/master/snip1.jpg">
          <p>
          *Note: if the app navigation panel is not visible click the triple line icon in the top right.
          </p>
          <p>
          2.) After a short delay the watershed will be delineated by the app and displayed on the map by a light blue polygon. Data results will be displayed under the Delineate & Calculate Button.
          </p>
          <img src="https://raw.githubusercontent.com/ANFz/ANFz.github.io/master/snip4.JPG">
          <p>
          *Note: if the app delineates a watershed too small it cannot calculate the data and a different location will need to be selected.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}