{% extends "threetoedsloth_snowmeltcalculator/base.html" %}
{% load staticfiles %}
{% load tethys_gizmos %}



{% block app_content %}
<style>
  #viewDiv {
    padding: 0;
    margin: 0;
    height: 550px;
    width: 100%;
  }
</style>


<link rel="stylesheet" href="https://js.arcgis.com/4.6/esri/css/main.css">
<script src="https://js.arcgis.com/4.6/"></script>

<script>
    require([
      "esri/Map",
      "esri/layers/GraphicsLayer",
      "esri/Graphic",
      "esri/geometry/Point",
      "esri/tasks/Geoprocessor",
      "esri/tasks/support/LinearUnit",
      "esri/tasks/support/FeatureSet",
      "esri/views/MapView",
      "esri/layers/MapImageLayer",
      "dojo/domReady!"
    ], function(Map, GraphicsLayer, Graphic, Point, Geoprocessor, LinearUnit, FeatureSet, MapView, MapImageLayer){


        //Layers
        var areaOfInterestURL = "http://geoserver2.byu.edu/arcgis/rest/services/3_Toed_Sloth/BoundaryAndStreams/MapServer"
        var areaOfInterest = new MapImageLayer({
            url: areaOfInterestURL,
            title: "Area of Interest"
        });

        //a map with basemap
        var map = new Map({
        basemap: "streets"
        });

        //a graphics layer to show input point and output polygon
        var graphicsLayer = new GraphicsLayer();
        map.add(graphicsLayer);

        var view = new MapView({
        container: "viewDiv",
        map: map,
        center: [-111.52, 40.5],
        zoom: 8
        });

        // symbol for input point
        var markerSymbol = {
              type: "simple-marker", // autocasts as new SimpleMarkerSymbol()
              color: [0, 255, 255],
              outline: { // autocasts as new SimpleLineSymbol()
                color: [0, 122, 122],
                width: 2
              }
            };

        // symbol for watershed boundary
        var fillSymbol = {
              type: "simple-fill", // autocasts as new SimpleFillSymbol()
              color: [53, 172, 242, 0.70],
              outline: { // autocasts as new SimpleLineSymbol()
                color: [255, 255, 255],
                width: 1
              }
            };

        // Geoprocessing service url
        var gpUrl = "http://geoserver2.byu.edu/arcgis/rest/services/3_Toed_Sloth/Snowmelt_Calculator_2018/GPServer/Snowmelt_Calculator_Year";

        // create a new Geoprocessor
        var gp = new Geoprocessor(gpUrl);
        // define output spatial reference
        gp.outSpatialReference = { // autocasts as new SpatialReference()
              wkid: 102100 //EPSG3857
            };
        //add map click function
        view.on("click", watershed);

        var featureSet = new FeatureSet();
        var lat;
        var lon;

        //main function
        function watershed(event) {

              graphicsLayer.removeAll();
              var point = new Point({
                longitude: event.mapPoint.longitude,
                latitude: event.mapPoint.latitude
              });
              var inputGraphic = new Graphic({
                geometry: point,
                symbol: markerSymbol
              });
              graphicsLayer.add(inputGraphic);
              var inputGraphicContainer = [];
              inputGraphicContainer.push(inputGraphic);

              lat = event.mapPoint.latitude;
              lon = event.mapPoint.longitude;

              featureSet.features = inputGraphicContainer;
        }

        map.add(areaOfInterest);

        // What happens when you click the "Delineate Watershed" Button
        $(document).ready(function () {
            $("#delineate").click(function () {
                processRequest();
            });
        });

        function processRequest(){

            if ( isNaN(lat) && isNaN(lon) ) {  // User did not click a point
                alert("Please choose an outlet point by clicking on the map.");

            } else {
            // Delineate watershed
                $("#loadingstuff").html("<h2 style='text-align: center'>LOADING WATERSHED</h2><img src='https://media.giphy.com/media/3og0INAY5MLmEBubyU/giphy.gif' style='width: 100%'>");

                // input parameters
                var params = {
                "Input_Pour_Point": featureSet,
                };
                gp.submitJob(params).then(completeCallback, errBack, statusCallback);


                // Clear the "Results" Text, if it exists.
                $("resultsHeader").html("<h3 style='text-align: center'></h3>");
                var results_valueHeader = document.getElementById("resultsHeader");
                results_valueHeader.innerText = ""

                $("#resultsArea").html("<h5 style='text-align: center'></h5>");
                var results_valueArea = document.getElementById("resultsArea");
                results_valueArea.innerText = ""

                $("#resultsDepth").html("<h5 style='text-align: center'></h5>");
                var results_valueDepth = document.getElementById("resultsDepth");
                results_valueDepth.innerText = ""

                $("#resultsVol").html("<h5 style='text-align: center'></h5>");
                var results_valueVol = document.getElementById("resultsVol");
                results_valueVol.innerText = ""

            }
        }

        function completeCallback(result){
            <!--console.log(result);-->
            gp.getResultData(result.jobId, "Output_Watershed_Boundary").then(drawResult, drawResultErrBack);
        }

        function drawResult(data){
            $("#loadingstuff").html("");

            var polygon_feature = data.value.features[0];

            var avgdepth = data.value.features[0].attributes['Mean'];
            var area = data.value.features[0].attributes['SHAPE_Area'];
            var volAcFt = Math.round(avgdepth*area/1000/1233.48);
            var areaSqMi = Math.round(area/2589988.11*10)/10;
            var depthRound = Math.round(avgdepth*10)/10;

            polygon_feature.symbol = fillSymbol;
            graphicsLayer.add(polygon_feature);

            $("resultsHeader").html("<h3 style='text-align: center'></h3>");
            var results_valueHeader = document.getElementById("resultsHeader");
            results_valueHeader.innerText = "Results:"

            $("#resultsArea").html("<h5 style='text-align: center'></h5>");
            var results_valueArea = document.getElementById("resultsArea");
            results_valueArea.innerText = "Watershed Area [sq mi] = " + areaSqMi

            $("#resultsDepth").html("<h5 style='text-align: center'></h5>");
            var results_valueDepth = document.getElementById("resultsDepth");
            results_valueDepth.innerText = "Avg. Snowmelt Depth [mm] = " + depthRound

            $("#resultsVol").html("<h5 style='text-align: center'></h5>");
            var results_valueVol = document.getElementById("resultsVol");
            results_valueVol.innerText = "Snowmelt Volume [ac-ft] = " + volAcFt
        }

        function drawResultErrBack(err) {
            console.log("draw result error: ", err);
            alert("The point is outside the domain. Please refresh the page and try again.")
        }

        function statusCallback(data) {
            console.log(data.jobStatus);
        }
        function errBack(err) {
            console.log("gp error: ", err);
        }



    });
</script>

    <h1>Delineate Watershed & Calculate Snowmelt</h1>
    <h5>1. Click on the map to determine the watershed outlet point.</h5>
    <h5>2. Click on the "Delineate & Calculate" button.</h5>
    <div id="viewDiv"></div>


{% endblock %}


{# Use the after_app_content block for modals #}
{% block app_actions %}
{% endblock %}


