{% extends "threetoedsloth_snowmeltcalculator/base.html" %}
{% load tethys_gizmos %}

{% block app_content %}
  <h1>Team Proposal</h1>
  <img src="https://raw.githubusercontent.com/ANFz/ANFz.github.io/master/wireframe1.JPG">
  <img src="https://raw.githubusercontent.com/ANFz/ANFz.github.io/master/wireframe2.JPG">
  <img src="https://raw.githubusercontent.com/ANFz/ANFz.github.io/master/wireframe3.JPG">

{% endblock %}

{# Use the after_app_content block for modals #}
{% block app_actions %}
{% endblock %}