{% extends "threetoedsloth_snowmeltcalculator/base.html" %}
{% load tethys_gizmos %}

{% block app_content %}
  <h1>Team Proposal</h1>
  <p>Our final app differs from our initial proposal in a few ways.
    Our original idea was to incorporate snow depth and snow extent; however, we had trouble getting data.
    Additionally, we were going to calculate snow data over predefined waterhsed boundaries. The problem is
    that all of the goeprocessing would have been done beforehand. In order to have an app that does geoprocessing,
    we added the delineate watershed tool. We also wanted to show a time series of how the snowmelt changed over time.
    Unfortunately, we had a hard time getting the workflow to work, so we ran out of time and weren't able to generate a time series.
    This is possible as the NLDAS model goes back to 1979. Our initial proposal from the beginning of the semester is found below:
  </p>
  <br>
  <img src="https://raw.githubusercontent.com/ANFz/ANFz.github.io/master/Proposal1.JPG">
  <img src="https://raw.githubusercontent.com/ANFz/ANFz.github.io/master/Proposal2.JPG">
  <img src="https://raw.githubusercontent.com/ANFz/ANFz.github.io/master/Proposal3.JPG">

{% endblock %}

{# Use the after_app_content block for modals #}
{% block app_actions %}
{% endblock %}